@model ArtPatio.Models.UserInfoViewModel
@{
    ViewData["Title"] = "Gallery Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome, @Model.Name</h1>
    <p>Your email: @Model.Email</p>
    <p>User Type: @Model.UserType</p>

</div>